@charset "UTF-8";
.body{
	text-align: center;
}
.image{
	width: 100px;
	height: 100px;
}
.bigImage{
	width: 200px;
	height: 200px;
}
.myCss ul,li{
	margin:5px;
	padding:10px;
	list-style: none;
}
.myCss ul{
	width:190px;
	background:gray;
	float:left;
}
.content{
	margin-left:20px;
}
.parent {
    width: 1200px;
    height: 450px;
    border: 2px solid #000;
    text-align: center;
    left:50px;
    top:140px;
    position: absolute;
}

